:root {
	--main-red: #bf4f6d;
	--main-blue: #78dce8;
	--main-yellow: #f3ce62;
	--main-green: #99c66c;
	--main-orange: #f39363;
	--main-bg-darker: #121213;
	--main-bg-dark: #19181a;
	--main-bg-normal: #221f22;
	--main-bg-light: #2d2a2e;
	--main-bg-lighter: #403e41;
	--main-txt-white: #f9f9f7;
	--main-txt-light: #a9a9a9;
	--main-txt-gray: #7e7c7e;
	--main-txt-darker: #575757;
	--main-active-contrast: #c1c0c0;

	--main-webserv: var(--main-txt-light);
	--main-color: var(--main-webserv);
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, nav, section, select {
	font-family: Helvetica, sans-serif;
	font-size: 1.05em;
	text-align: justify;
	vertical-align: center;
	color: var(--main-txt-white);
	background-color: var(--main-bg-normal);
}

form {
    margin-left: auto;
    margin-right: auto;
	width: 40em;
}

form .flex {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5em;
}

form label {
	font-size: 0.90em;
}

form input {
	font-size: 0.80em;
	border: 1px solid var(--main-bg-light);
	border-radius: 4px;
	padding: 0.4em;
	background-color: var(--main-bg-light);
	color: var(--main-txt-white);
}

form input:hover {
	border: 1px solid var(--main-color);
	background-color: var(--main-bg-lighter);
}

form button {
	margin-top: 4em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30em;
	font-size: 0.80em;
	border: 1px solid var(--main-bg-light);
	border-radius: 6px;
	padding: 0.5em;
	background-color: var(--main-bg-light);
	color: var(--main-txt-white);
}

form button:hover {
	color: var(--main-color);
	background-color: var(--main-bg-lighter);
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", sans-serif;
}

h2 {
	font-size: 1.9em;
	color: var(--main-color);
	font-weight: 600;
	font-variant: small-caps;
	margin-bottom: 1.5em;
}

h3 {
	color: var(--main-color);
	font-size: 1.4em;
	font-weight: 400;
	font-variant: small-caps;
}

h3 a {
	color: var(--main-color);
}

a {
	color: var(--main-txt-gray);
  	text-decoration: none;
}

p {
	margin-bottom: 2.5em;
}

iframe {
  	border: none;
}

.vertical {
  	margin-top: 50vh;
  	transform: translateY(-50%);
}

.ancre {
  	display: block;
  	height: 10em;
  	margin-top: -10em;
  	visibility: hidden;
}

.link {
  	border-bottom: dotted 1px var(--main-txt-gray);
}

a:hover {
	color: var(--main-txt-white);
}

body {
 	margin-left: 10%;
  	margin-right: 10%;
  	line-height: 1.6em;
  	text-align: justify;
}

footer li a {
  	display: block;
  	padding-left: 1em;
  	padding-right: 1em;
  	text-decoration: none;
  	text-align: center;
  	font-size: 1.1em;
  	width: 8em;
  	margin: 0;
  	font-variant: small-caps;
	background: var(--main-bg-dark);
}

footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  	background: var(--main-bg-dark);
}

/* HEADER */

header {
	font-family: "Montserrat", sans-serif;
	font-variant: small-caps;
  	display: flex;
	  flex-wrap: wrap;
	flex-direction: row;
  	height: 4.5em;
	background: var(--main-bg-dark);
	z-index: 40;
	position: fixed;
	left: 0;
	right: 0;
	top: 1em;
	width: 80%;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
	justify-content: space-between;
	border-radius: 5px;
	box-shadow: 0px 4px 4px var(--main-bg-darker);
}

header .buttonTab {
	vertical-align: middle;
	height: 4.3em;
	width: 12%;
	background: inherit;
}

header .buttonTab:last-child {
	margin-right: 0.5em;
}

header .buttonTab a {
	background: inherit;
	display: block;
	text-align: center;
	height: 100%;
	line-height: 4.3em;
	width: 100%;
}

.tabname {
	width: 100%;
	background: inherit;
}

.buttonTab a i {
	display: inline;
	background: inherit;
	margin-right: 0.5em;
}

header .buttonTab:hover {
	color: var(--main-color);
	border-radius: 0px;
	border-bottom: solid 2px var(--main-color);
}

header .buttonTab:hover a .tabname, header .buttonTab:hover a {
	color: var(--main-color);
}

.active {
	color: var(--main-color);
	border-radius: 0px;
	border-bottom: solid 2px var(--main-color);
}

.active a .tabname, .active i {
	color: var(--main-color);
}

.logo {
	display: flex;
	height: 100%;
	width: 40%;
	margin: 0;
	padding: 0;
	margin-left: 1em;
	background-color: var(--main-bg-dark);
}

header .logo a {
	margin-top: 0.4em;
	height: 3.6em;
	width: 3.5em;
	display: flex;
	align-items: left;
	background: var(--main-bg-dark);
}

.title, .titlename {
	margin-top: 0.1em;
	font-family: "Montserrat", sans-serif;
  	border-bottom: none;
  	font-variant: small-caps;
  	font-size: 1.8em;
	line-height: 2.2em;
	color: var(--main-txt-gray);
	background: var(--main-bg-dark);
}

.title {
  	font-weight: 300;
}

.titlename {
  	font-weight: 500;
  	margin-left: 0.3em;
}

.main {
	display: block;
  	margin-left: 15%;
  	margin-right: 15%;
  	margin-top: 10em;
  	padding-bottom: 5em;
}

.whiteband {
  position: fixed;
  width: 100%;
  height: 1em;
  top: 0px;
  background-color: var(--main-bg-normal);
}

.footer a {
	border-bottom: none;
}

footer, footer ul {
	display: flex;
	line-height: 2em;
}

.footer {
  	position: fixed;
  	left: 0;
  	bottom: 0;
  	flex-direction: row;
  	justify-content: space-around;
  	align-items: center;
  	width: 100%;
  	text-align: center;
  	margin-right: 1em;
	background: var(--main-bg-dark);
  	box-shadow: 0px -2px 2px var(--main-bg-darker);
}

.menuYear {
  	position: fixed;
  	top: 5em;
  	padding-top: 0.8em;
  	padding-bottom: 0.3em;
  	right: 10%;
  	width: 7%;
  	border-radius: 5px;
  	background: var(--main-bg-light);
  	box-shadow: 0px 2px 2px var(--main-bg-darker);
	font-variant: small-caps;
	font-family: "Montserrat", sans-serif;
}

.menuYear a {
	background: var(--main-bg-light);
}

.on {
	color: var(--main-color);
}

.on:hover {
	color: var(--main-txt-white);
}

.titlecv1, .titlecv2
{
	line-height: 2.2em;
}

.titlecv1 {
  	margin-left: auto;
  	margin-right: auto;
  	font-weight: 300;
  	font-size: 2.2em;
}

.titlecv2 {
  	margin-left: auto;
  	margin-right: auto;
  	font-weight: 500;
  	font-size: 2.2em;
}

.title404_1 {
	margin-left: auto;
	margin-right: auto;
  	font-weight: 500;
  	font-size: 8em;
	color: var(--main-color);
}

.title404_2 {
  	margin-left: auto;
  	margin-right: auto;
  	font-weight: 400;
  	font-size: 4em;
}

.titlesection {
  	display: inline;
  	margin-left: auto;
  	margin-right: auto;
  	width: 100%;
  	font-weight: 500;
	font-variant: small-caps;
  	color: var(--main-color);
  	font-size: 1.4em;
}

.titlesection:before {
  	content: '';
  	width: 4em;
  	border-bottom: var(--main-color) solid;
  	display: inline-block;
  	vertical-align: middle;
  	margin-right: 1em;
}

.smallcapsred {
  	color: var(--main-color);
  	font-variant: small-caps;
  	font-size: 1em;
}

b.black {
  	color: var(--main-txt-gray);
}

.red {
  	color: var(--main-color);
}

.address {
  	color: var(--main-txt-gray);
  	font-size: 0.8em;
  	display: inline;
  	font-style: italic;
}

.mail, .site {
  	font-size: 0.9em;
  	vertical-align: middle;
}

.born {
  	display: inline;
  	font-size: 0.8em;
}

h6 {
	display: inline;
  	font-weight: 400;
  	line-height: 1em;
}

table {
 	width: 100%;
  	border-spacing: 0px 20px;
}

.cv {
  	margin-left: 15%;
  	margin-right: 15%;
	margin-top: 9em;
	margin-bottom: 4em;
	font-size: 1.05em;
}

.cours {
  	margin-left: 3%;
  	margin-right: 3%;
}

.main h4 {
  	padding-left: 1%;
}

.info {
	vertical-align: top;
  	text-align: right;
	width: 20%;
}

.dwl {
  	width: 8em;
  	text-align: center;
}

.three {
  	width: 25%;
}

.td {
  	width: 20%;
  	text-align: center;
}

.school {
	font-size: 110%;
}

.schooldescription {
	color: var(--main-txt-light);
}

.location {
	font-style: italic;
	color: var(--main-txt-darker);
}

.years {
	color: var(--main-color);
}

.languageTable tr td:first-child {
	font-size: 120%;
}

#menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
  	position: sticky;
  	top: 5em;
  	text-align: center;
  	border-radius: 5px;
  	box-shadow: 0px 2px 10px var(--main-bg-darker);
  	background: var(--main-bg-normal);
  	height: 4em;
  	width: 100%;
	margin-top: 2em;
	margin-bottom: 1em;
	font-variant: small-caps;
	font-family: "Montserrat", sans-serif;
}

.cvPdf {
	display: flex;
  	justify-content: space-around;
  	width: 100%;
}

.cvPdf a {
  	background: var(--main-bg-lighter);
 	width: 40%;
  	line-height: 3em;
  	text-align: center;
  	border-radius: 5px;
}

/* repo style */

.name {
	margin-top: 0.3em;
	background: var(--main-bg-dark);
	display: inline-block;
	vertical-align: middle;
	height: auto;
	font-weight: 600;
	font-size: 110%;
	text-decoration: none;
	color: var(--main-color);
}

.desc {
	background: var(--main-bg-dark);
	margin-top: 0.5em;
	font-size: 100%;
	font-style: italic;
}

.language {
	vertical-align: middle;
	padding: 0.3em;
	background: var(--main-bg-light);
	font-size: 100%;
	margin-left: 0.5em;
	border-radius: 4px;
}

.update {
	background: var(--main-bg-dark);
	vertical-align: middle;
	float: right;
	font-size: 90%;
	color: var(--main-txt-gray);
	padding: 0.3em;
	padding-left: 1em;
	font-style: italic;
}

 .repo-box {
	display: block;
	width: 96%;
	height: 5em;
	margin-bottom: 1em;
	padding: 2%;
	background: var(--main-bg-dark);
	border-radius: 10px;
}

.code-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2em;
}

.code-title h2 {
	margin: 0;
	padding: 0;
}

select {
	display: inline-block;
	vertical-align: middle;
	padding: 0.3em;
	font-size: 0.9em;
	color: var(--main-txt-gray);
	border-radius: 5px;
	border-color: var(--main-txt-gray);
}

.languageTable tr td:first-child {
	padding-right: 1em;
	text-align: right;
}

.smalltabs tr td:first-child {
	width: 12%;
}

.smalltabs tr td:last-child {
	color: var(--main-txt-light);
}

@media screen and (max-width: 1000px) {
	.whiteband, .logo, .tabname, .menuYear, .footer {
		display: none;
	}

	body {
		margin: 0;
	}

	.main, .cv {
		font-size: 1.6em;
		line-height: 1.8em;
	}

	.cv {
		margin: 0;
		padding: 0;
		margin-top: 7em;
		margin-bottom: 3em;
	}

	.main {
		margin: 0;
		padding: 0;
		margin-left: 1em;
		margin-right: 1em;
		margin-top: 8em;
		margin-bottom: 3em;
	}

	header {
		display: flex;
		font-size: 2em;
		width: 100%;
		top: 0px;
		left: 0px;
		flex-direction: column;
		border-radius: 0px;
		margin-top: 0em;
	}

	header .buttonTab {
		width: 25%;
		background: inherit;
	}

	.buttonTab a i {
		margin-right: 0;
	}

	header .buttonTab:last-child {
		margin-right: 0;
	}

	.cv table{/*  */
		border-spacing: 15px 1.3em;
	}

	.repo-box {
		line-height: 130%;
	}

	#menu {
		width: 100%;
		position: sticky;
		background-color: var(--main-bg-light);
	}

	#menu a {
		background-color: var(--main-bg-light);
	}

}

@media screen and (max-width: 1500px) and (min-width: 1001px) {

	.main {
		margin-left: 5%;
		margin-right: 5%;
	}

	.cv {
		margin-left: 5%;
		margin-right: 5%;
	}

	* {
		font-size: 80%;
	}

	.cv table {
		font-size: 180%;
	}

}

